<?xml version="1.0"?>
<phpunit convertErrorsToExceptions="true" convertWarningsToExceptions="false" bootstrap="tests/bootstrap.php">

	<!-- listeners -->

	<listeners>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
			<arguments>
				<array>
					<element key="slowThreshold">
						<integer>1000</integer>
					</element>
				</array>
			</arguments>
		</listener>
	</listeners>

	<!-- testsuites -->

	<testsuites>

		<!-- api -->

		<testsuite name="api">
			<file>tests/ApiTest.php</file>
		</testsuite>

		<!-- core -->

		<testsuite name="core">
			<file>tests/CoreTest.php</file>
		</testsuite>

		<!-- wording -->

		<testsuite name="wording">
			<file>tests/WordingTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
